PRIMARY_HOST=localhost
PRIMARY_PORT=5432
PRIMARY_DB=primary_db
PRIMARY_USER=postgres
PRIMARY_PASSWORD=your_password

REPLICA_HOST=localhost
REPLICA_PORT=5432
REPLICA_DB=replica_db
REPLICA_USER=postgres
REPLICA_PASSWORD=your_password